
.fuente-letra {
  font-family:sans-serif ;
}
body {
  font-family: Arial, sans-serif; 
  background-color: #86B1A0; 
  padding: 0;
  margin: 0;
}

.footer {
  font-family: Arial, sans-serif;
  background-color: #f40bd1; 
  color: rgb(255, 255, 255); 
  border: none; 
  border-radius: 10; 
  margin: 0; 
  padding: 0; 
  text-align: center;
  height: 30px;line-height: 30px;
}



.App {
display: flex;
flex-direction: column;
min-height: 100vh; 
background-color: #86B1A0;
}