/* recipe.css */

.reciForma {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.formato-titulo {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.recipe-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-content-header {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recipe-image {
  margin-right: 20px;
  flex-shrink: 0;
}

.recipe-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.recipe-text {
  flex-grow: 1;
}

.recipe-text p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}

.recipe-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}


.buttonEditar,
.buttonEliminar {
  margin-right: 10px;
}
.recipe-content-header {
  flex-direction: column; /* Cambia de fila a columna */
  text-align: center; /* Centra el contenido en el eje horizontal */
}



.recipe-buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: row; /* Muestra los botones en una columna */
  align-items: center; /* Centra los botones en el eje horizontal */
}

